<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @catalog %>
        <%= @catalog.name %>
		<%= @catalog.account %>
		</h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @catalog.name %><br />
	  <strong>Date</strong> <%= @catalog.date %><br />
	  <strong>Price</strong> <%= @catalog.price %><br />
	  <strong>Account</strong> <%= @catalog.account %><br />
      <strong>URL</strong>  <%= link_to catalog_path(@catalog), @catalog %>
    </td>
  </tr>
</table>