<h1>Готово</h1>

<p>
  <strong>Счет:</strong>
   <%= @payment.account %>
</p>
 
<p>
  <strong>Текущий баланс:</strong>
  <%= @payment.ballance %>
</p>

<%= button_to 'Изменить', { :action => :edit, :id => @payment.id }, :method => :get %>
<%= button_to 'Назад', { :action => :new }, :method => :get %>
<%= button_to 'Просмотреть все счета', { :action => :index }, :method => :get %>
<%= button_to 'Удалить', { :action => :destroy, :id => @payment.id }, :method => :delete, :confirm => 'Честно?' %>