<%= form_for @payment do |f| %>
	<% if @payment.errors.any? %>
		<div id = 'errorExplanation'> 
			<p><%= pluralize(@payment.errors.count, "error") %>... ups </p>
			<ul>
				<% @payment.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
				<% end%>
			</ul>
		</div>
	<% end %>
  <p>
    <%= f.label :Account %><br>
    <%= f.text_field :account %>
  </p>
 
  <p>
    <%= f.label :Ballance %><br>
    <%= f.text_field :ballance %>
  </p>
 
  <p>
    <%= f.submit "Apply" %>
  </p>
<% end %>