<%= javascript_include_tag "calendar_date_select/prototype.js" %>
<%= javascript_include_tag "calendar_date_select/calendar_date_select.js" %>
<%= form_for @operation do |f| %>
	<% if @operation.errors.any? %>
		<div id = 'errorExplanation'> 
			<p><%= pluralize(@operation.errors.count, "error") %>... ups </p>
			<ul>
				<% @operation.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
				<% end%>
			</ul>
		</div>
	<% end %>
  <p>
    <%= f.label :Mark %>
    <%= f.text_field :mark %>
  </p>
  <p class="field">
    <%= f.label :Amount %>
    <%= f.text_field :amount %>
  </p>
  <p class="field">
    <%= f.label :"_income/expanse" %>
	<%= f.select(:purpose, @purpose_lookup) %>
  </p>
   <p class="field">
    <%= f.label :acct, "Account" %>
    <%= f.select :acct, Payment.find(:all, :order => "account").collect {|u| [u.account]}, :multiple => true, :size => 5  %>
  </p>
  <p class="field">
    <%= f.label :Date %><br />
    <%= f.calendar_date_select :date %>
  </p>
  <p class="actions">
    <%= f.submit "Apply" %>
  </p>
<% end %>

 