<%= form_for @operation do |f| %>
<% if @operation.errors.any? %>
		<div id = 'errorExplanation'> 
			<p><%= pluralize(@operation.errors.count, "error") %>... ups </p>
			<ul>
				<% @operation.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
				<% end%>
			</ul>
		</div>
	<% end %>
  <p>
    <%= f.label :Описание %>
    <%= f.text_field :mark %>
  </p>
  <p class="field">
    <%= f.label :Сумма %>
    <%= f.text_field :amount %>
  </p>
  <p class="field">
    <%= f.label :'Доход/Расход' %>
	<%= f.select(:purpose, @purpose_lookup) %>
  </p>
   <p class="field">
    <%= f.label :acct, "Счет" %>
    <%= f.select :acct, Payment.find(:all, :order => "account").collect {|u| [u.account]}, :multiple => true, :size => 5  %>
  </p>
  <p class="field">
    <%= f.label :Дата %><br />
    <%= f.text_field :date %>
  </p>
  <p class="actions">
    <%= f.submit "Готово" %>
  </p>
<% end %>
 