<h1>Hello</h1>
<%= button_to 'Добавить запись', { :action => :new }, :method => :get %>
<table>
	<tr>
		<th>Вид платежа</th>
		<th>Сумма</th>
		<th>Доход/Расход</th>
		<th>Счет</th>
		<th>Дата</th>
	</tr>	
			<% @operations.each do |operation| %>
	<tr>
		<td><%= operation.mark %></td>
		<td><%= operation.amount %></td>
		<td><%= operation.purpose %></td>
		<td><%= operation.acct %></td>
		<td><%= operation.date %></td>
		<td><%= button_to 'Удалить', { :action => :destroy, :id => operation.id }, :method => :delete, :confirm => 'Честно?' %></td>
	</tr>
	<% end %>
</table>