<h1>All records <%= button_to 'Add new record', { :action => :new }, :method => :get %></h1>
<table class="field">
	<tr>
		<th>Mark</th>
		<th>Conractor</th>
		<th>Amount</th>
		<th>Income/Expanse</th>
		<th>Account</th>
		<th>Date</th>
	</tr>	
			<% @operations.each do |operation| %>
	<tr >
		<td><%= operation.mark %></td>
		<td><%= operation.contractor %></td>
		<td><%= operation.amount.to_f %></td>
		<td><%= operation.purpose %></td>
		<td><%= operation.acct %></td>
		<td><%= operation.date %></td>
		<th><%= button_to 'Delete', { :action => :destroy, :id => operation.id }, :method => :delete, :confirm => 'Are you sure?' %></th>
	</tr>
	<% end %>
</table></br>
