<h1>Done</h1>

<p>
  <strong>Mark:</strong>
   <%= @operation.mark %>
</p>
<p>
  <strong>Amount:</strong>
   <%= @operation.amount.to_f.round(2) %>
</p>
<p>
  <strong>Income/Expanse:</strong>
   <%= @operation.purpose %>
</p>
<p>
  <strong>Account:</strong>
   <%= @operation.acct %>
</p> 
<p>
  <strong>Date:</strong>
  <%= @operation.date %>
</p>


<%= button_to 'View all records', { :action => :index }, :method => :get %>
<%= button_to 'Delete', { :action => :destroy, :id => @operation.id }, :method => :delete, :confirm => 'Честно?' %>