<h1>Готово</h1>

<p>
  <strong>Описание:</strong>
   <%= @operation.mark %>
</p>
<p>
  <strong>Сумма:</strong>
   <%= @operation.amount %>
</p>
<p>
  <strong>Вид платежа:</strong>
   <%= @operation.purpose %>
</p>
<p>
  <strong>Счет:</strong>
   <%= @operation.acct %>
</p> 
<p>
  <strong>Дата:</strong>
  <%= @operation.date %>
</p>

<%= button_to 'Изменить', { :action => :edit, :id => @operation.id }, :method => :get %>
<%= button_to 'Назад', { :action => :new }, :method => :get %>
<%= button_to 'Просмотреть все записи', { :action => :index }, :method => :get %>
<%= button_to 'Удалить', { :action => :destroy, :id => @operation.id }, :method => :delete, :confirm => 'Честно?' %>